clang-4.0
clang-format-4.0
clang-tidy-4.0
dos2unix
lcov
libboost-all-dev
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev
libgstreamer-plugins-good1.0-dev
libgstreamer-plugins-bad1.0-dev
lldb-4.0
lld-4.0
locales
make
pkg-config
wget
